<div class="container">
  <div class="event-container">
    <form>
      <div id="fromEmail">
        <label for="fromEmailInput" id="fromEmailLabel">From Email</label>
        <input type="email" id="fromEmailInput">
      </div>
      <div id="name">
        <div id="firstName">
          <label for="firstNameInput" id="firstNameLabel">Fist Name</label>
          <input type="text" id="firstNameInput">
        </div>
        <div id="lastName">
          <label for="lastNameInput" id="lastNameLabel">Last Name</label>
          <input type="text" id="lastNameInput">
        </div>        
      </div>
      <div id="subject">
        <label for="subjectInput" id="subjectLabel">Email Subject</label>
        <input type="text" id="subjectInput">
      </div>
      <div id="location">
        <div id="address1">
          <label for="address1Input" id="address1Label">Address 1</label>
          <input type="text" id="address1Input">
        </div>
        <div id="address2">
          <label for="address2Input" id="address2Label">Address 2</label>
          <input type="text" id="address2Input">
        </div>
        <div id="city">
          <label for="cityInput" id="cityLabel">City</label>
          <input type="text" id="cityInput">
        </div>
        <div id="state">
          <label for="stateInput" id="stateLabel">State</label>
          <input type="text" id="stateInput">
        </div>
        <div id="zip">
          <label for="zipInput" id="zipLabel">Zip</label>
          <input type="text" id="zipInput">
        </div>
      </div>
    </form>
  </div>
</div>