<div class="container">
  <div class="event-container">
    <form>
      <mat-form-field id="fromEmail">
        <input matInput placeholder="From Email">
      </mat-form-field>
      <div id="name">
        <mat-form-field>
          <input matInput placeholder="First Name" id="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Email" id="lastName">
        </mat-form-field>
      </div>
      <div id="subject">
        <label for="subjectInput" id="subjectLabel">Email Subject</label>
        <input type="text" id="subjectInput">
      </div>
      <div id="location">
        <div id="address1">
          <label for="address1Input" id="address1Label">Address 1</label>
          <input type="text" id="address1Input">
        </div>
        <div id="address2">
          <label for="address2Input" id="address2Label">Address 2</label>
          <input type="text" id="address2Input">
        </div>
        <div id="city">
          <label for="cityInput" id="cityLabel">City</label>
          <input type="text" id="cityInput">
        </div>
        <div id="state">
          <label for="stateInput" id="stateLabel">State</label>
          <input type="text" id="stateInput">
        </div>
        <div id="zip">
          <label for="zipInput" id="zipLabel">Zip</label>
          <input type="text" id="zipInput">
        </div>
      </div>
    </form>
  </div>
</div>