.container {
    margin-top: 50px;
    overflow: hidden;
}

.copyright ::ng-deep .mat-figure {
    justify-content: flex-end!important;
}

.social-media a {
    margin: 5px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-linkedin-square {
    color: #0976b4;
}

.fa-github-square {
    color: #333;
}