.container {
    padding: 0px 50px;
    overflow: auto;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right;
}

.social-media {
    padding: 0px 20px;
    overflow: hidden;
}

.social-media a {
    margin: 5px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-linkedin-square {
    color: #0976b4;
}

.fa-github-square {
    color: #333;
}